In [1]:
import pandas as pd
import numpy as np
import warnings
import regex as re
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

In [2]:
tabla_k = pd.read_csv('../data/esp_municipios_20200518.csv')

In [3]:
tabla_k.head()

,CODIGO_CA,COMUNIDAD_AUTONOMA,Codigo Provincia,PROVINCIA,NUMERO_INSCRIPCION,Codigo Municipio,DENOMINACION,FECHA_INSCRIPCION,SUPERFICIE,HABITANTES,DENSIDAD,CAPITALIDAD,ANOTACION
0,1,Andalucía,13385,Almería,1040010,5517,Abla,16/02/87,"45,24",1249,"27,61",Abla,
1,1,Andalucía,13385,Almería,1040025,5518,Abrucena,22/04/87,"83,68",1202,"14,36",Abrucena,
2,1,Andalucía,13385,Almería,1040031,5519,Adra,13/11/86,"89,69",25148,"280,39",Adra,
3,1,Andalucía,13385,Almería,1040046,5520,Albanchez,22/04/87,"34,91",741,"21,23",Albanchez,\n \n
4,1,Andalucía,13385,Almería,1040059,5521,Alboloduy,19/01/87,"69,73",616,"8,83",Alboloduy,

In [4]:
tabla_k.shape

(8132, 13)

In [5]:
tabla_k.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8132 entries, 0 to 8131
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CODIGO_CA           8132 non-null   int64
 1   COMUNIDAD_AUTONOMA  8132 non-null   object
 2   Codigo Provincia    8132 non-null   int64
 3   PROVINCIA           8132 non-null   object
 4   NUMERO_INSCRIPCION  8132 non-null   int64
 5   Codigo Municipio    8132 non-null   int64
 6   DENOMINACION        8132 non-null   object
 7   FECHA_INSCRIPCION   8132 non-null   object
 8   SUPERFICIE          8132 non-null   object
 9   HABITANTES          8132 non-null   int64
 10  DENSIDAD            8132 non-null   object
 11  CAPITALIDAD         8132 non-null   object
 12  ANOTACION           8132 non-null   object
dtypes: int64(5), object(8)
memory usage: 826.0+ KB

In [6]:
print(tabla_k.isnull().sum())

CODIGO_CA             0
COMUNIDAD_AUTONOMA    0
Codigo Provincia      0
PROVINCIA             0
NUMERO_INSCRIPCION    0
Codigo Municipio      0
DENOMINACION          0
FECHA_INSCRIPCION     0
SUPERFICIE            0
HABITANTES            0
DENSIDAD              0
CAPITALIDAD           0
ANOTACION             0
dtype: int64

vamos a filtrar la tabla_k para quedarnos solo con las filas de las provincia de nuestra muestra

In [7]:
tabla_k['PROVINCIA'] = tabla_k['PROVINCIA'].replace('Coruña, A', 'A_Coruna')

In [8]:
muestra_provincias = ['Almería', 'A_Coruna', 'Huelva', 'Cádiz', 'Girona']

In [9]:
tabla_muestra = tabla_k[tabla_k['PROVINCIA'].isin(muestra_provincias)]

In [10]:
tabla_muestra.columns = [c.lower().strip().replace(' ', '_') for c in tabla_muestra.columns]
#modificamos el nombre de las columnas para trabajar con ellas con mayor facilidad

In [11]:
tabla_muestra

,codigo_ca,comunidad_autonoma,codigo_provincia,provincia,numero_inscripcion,codigo_municipio,denominacion,fecha_inscripcion,superficie,habitantes,densidad,capitalidad,anotacion
0,1,Andalucía,13385,Almería,1040010,5517,Abla,16/02/87,"45,24",1249,"27,61",Abla,
1,1,Andalucía,13385,Almería,1040025,5518,Abrucena,22/04/87,"83,68",1202,"14,36",Abrucena,
2,1,Andalucía,13385,Almería,1040031,5519,Adra,13/11/86,"89,69",25148,"280,39",Adra,
3,1,Andalucía,13385,Almería,1040046,5520,Albanchez,22/04/87,"34,91",741,"21,23",Albanchez,\n \n
4,1,Andalucía,13385,Almería,1040059,5521,Alboloduy,19/01/87,"69,73",616,"8,83",Alboloduy,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6984,12,Galicia,13424,A_Coruna,1150891,7443,Vedra,26/01/87,"52,78",5036,"95,41",Avenida do Mestre Manuel Gómez Lorenzo (Vedra)...,
6985,12,Galicia,13424,A_Coruna,1150912,7445,Vilarmaior,21/11/86,"30,35",1226,"40,4","Armada, A (Vilarmaior) (San Pedro)",
6986,12,Galicia,13424,A_Coruna,1150905,7444,Vilasantar,31/10/86,"59,17",1213,"20,5",Ru (Vilasantar) (Santiago),
6987,12,Galicia,13424,A_Coruna,1150927,7446,Vimianzo,26/01/87,"187,27",7057,"37,68",Vimianzo (Vimianzo) (San Vicenzo),
6988,12,Galicia,13424,A_Coruna,1150933,7447,Zas,21/11/86,"133,29",4472,"33,55",Zas (Zas) (Santo André),

In [12]:
tabla_muestra.columns

Index(['codigo_ca', 'comunidad_autonoma', 'codigo_provincia', 'provincia',
       'numero_inscripcion', 'codigo_municipio', 'denominacion',
       'fecha_inscripcion', 'superficie', 'habitantes', 'densidad',
       'capitalidad', 'anotacion'],
      dtype='object')

In [13]:
tabla_muestra = tabla_muestra.drop(['codigo_ca', 'numero_inscripcion', 'codigo_municipio', 'denominacion', 
                                    'fecha_inscripcion', 'densidad','capitalidad', 'anotacion'], axis=1)
#borramos las columnas que no necesitamos para trabajar en nuestro estudio

In [14]:
tabla_muestra.head()

  comunidad_autonoma  codigo_provincia provincia superficie  habitantes
0          Andalucía             13385   Almería      45,24        1249
1          Andalucía             13385   Almería      83,68        1202
2          Andalucía             13385   Almería      89,69       25148
3          Andalucía             13385   Almería      34,91         741
4          Andalucía             13385   Almería      69,73         616

In [15]:
tabla_muestra['superficie'] = tabla_muestra['superficie'].str.replace(',', '.').astype(float)


tabla_muestra['habitantes'] = tabla_muestra['habitantes'].astype(int)

# Convertimos 'superficie' a float para poder trabajar con ella y habitantes a int
tabla_muestra.head()

  comunidad_autonoma  codigo_provincia provincia  superficie  habitantes
0          Andalucía             13385   Almería       45.24        1249
1          Andalucía             13385   Almería       83.68        1202
2          Andalucía             13385   Almería       89.69       25148
3          Andalucía             13385   Almería       34.91         741
4          Andalucía             13385   Almería       69.73         616

ahora vamos a agrupar datos sumando los valores de superficie y habitante

In [16]:
dict_superficie = tabla_muestra.groupby('provincia')['superficie'].sum().to_dict()
dict_superficie

{'A_Coruna': 7949.94,
 'Almería': 8773.78,
 'Cádiz': 7338.13,
 'Girona': 5908.19,
 'Huelva': 10185.66}

In [17]:
dict_habitantes = tabla_muestra.groupby('provincia')['habitantes'].sum().to_dict()
dict_habitantes

{'A_Coruna': 1119596,
 'Almería': 716820,
 'Cádiz': 1240155,
 'Girona': 771044,
 'Huelva': 521870}

Tenemos los valores totales por provincia de superficie y habitantes. ahora vamos a reducir nuestra tabla a una línea por provincia. borramos las columnas de superficie y habitantes y agrupamos todo primero por provincia.

In [18]:
tabla_muestra = tabla_muestra.drop(columns=['superficie', 'habitantes'])

In [19]:
tabla_muestra = tabla_muestra.groupby('provincia').first().reset_index() 
#La función de agregación first(), agrupa por valor de columna, eligiendo el primer valor que se encuentra.

In [20]:
tabla_muestra

  provincia comunidad_autonoma  codigo_provincia
0  A_Coruna            Galicia             13424
1   Almería          Andalucía             13385
2     Cádiz          Andalucía             13386
3    Girona           Cataluña             13416
4    Huelva          Andalucía             13389

In [21]:
#Agrego los dos diccionarios que tengo en dos nuevas coliumnas.
tabla_muestra['superficie_km2'] = tabla_muestra['provincia'].map(dict_superficie)
tabla_muestra['habitantes'] = tabla_muestra['provincia'].map(dict_habitantes)

In [22]:
#Quiero crear una nueva columna para la densidad de población
tabla_muestra['densidad'] = tabla_muestra.apply(lambda x: round(x['habitantes'] / x['superficie_km2'],2), axis=1)

In [23]:
dict_estaciones = {'Almería': '6302A', 'Cádiz': '5973', 'Girona': '0367', 'Huelva': '4642E', 'A_Coruna': '1387'}

In [24]:
tabla_muestra.columns

Index(['provincia', 'comunidad_autonoma', 'codigo_provincia', 'superficie_km2',
       'habitantes', 'densidad'],
      dtype='object')

In [25]:
tabla_muestra['indicativo'] = tabla_muestra['provincia'].map(dict_estaciones)

In [26]:
tabla_muestra = tabla_muestra[['codigo_provincia', 'comunidad_autonoma', 'provincia', 'indicativo',
                              'superficie_km2', 'habitantes', 'densidad']]

In [29]:
tabla_muestra.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   codigo_provincia    5 non-null      int64
 1   comunidad_autonoma  5 non-null      object
 2   provincia           5 non-null      object
 3   indicativo          5 non-null      object
 4   superficie_km2      5 non-null      float64
 5   habitantes          5 non-null      int64
 6   densidad            5 non-null      float64
dtypes: float64(2), int64(2), object(3)
memory usage: 408.0+ bytes

Así queda nuestra tabla final. Solo queda guardarla en csv, por ejemplo, antes de subirla a SQL.

In [28]:
tabla_muestra.to_csv('../data/tablas_limpias/tabla_provincias.csv', index=False)