In [12]:
import pandas as pd
import numpy as np
import warnings
import regex as re
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

In [13]:
tabla_k = pd.read_csv('../data/esp_municipios_20200518.csv')

In [18]:
tabla_k.head()

,CODIGO_CA,COMUNIDAD_AUTONOMA,Codigo Provincia,PROVINCIA,NUMERO_INSCRIPCION,Codigo Municipio,DENOMINACION,FECHA_INSCRIPCION,SUPERFICIE,HABITANTES,DENSIDAD,CAPITALIDAD,ANOTACION
0,1,Andalucía,13385,Almería,1040010,5517,Abla,16/02/87,"45,24",1249,"27,61",Abla,
1,1,Andalucía,13385,Almería,1040025,5518,Abrucena,22/04/87,"83,68",1202,"14,36",Abrucena,
2,1,Andalucía,13385,Almería,1040031,5519,Adra,13/11/86,"89,69",25148,"280,39",Adra,
3,1,Andalucía,13385,Almería,1040046,5520,Albanchez,22/04/87,"34,91",741,"21,23",Albanchez,\n \n
4,1,Andalucía,13385,Almería,1040059,5521,Alboloduy,19/01/87,"69,73",616,"8,83",Alboloduy,

In [15]:
tabla_k.shape

(8132, 13)