In [1]:
import pandas as pd
import numpy as np
import warnings
import regex as re
from sqlalchemy import create_engine
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

In [2]:
leyenda = pd.read_csv('../data/tablas_limpias/tabla_leyenda.csv',sep=';', encoding='latin1')

In [3]:
explotaciones = pd.read_csv('../data/tablas_limpias/tabla_explotaciones.csv',sep=';', encoding='latin1')

In [4]:
clima = pd.read_csv('../data/tablas_limpias/tabla_clima.csv')

In [5]:
provincias = pd.read_csv('../data/tablas_limpias/tabla_provincias.csv')

In [6]:
leyenda.head()

      Columna                     Descripcion
0       fecha        La fecha del pronostico.
1  indicativo          Estacion meteorologica
2       p_mes  La precipitacion media mensual
3       p_max   La precipitacion maxima y dia
4       w_med   La velocidad media del viento

In [7]:
leyenda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Columna      14 non-null     object
 1   Descripcion  14 non-null     object
dtypes: object(2)
memory usage: 352.0+ bytes

In [8]:
explotaciones.head()

,codigo_provincia,provincia,sau_aire_libre,sau_aire_libre_uds,tierra_arable,tierra_arable_uds,cultivos_lenyosos,cultivos_lenyosos_uds,pastos,pastos_uds,autoconsumo,autoconsumo_uds,sau_invernadero,sau_invernadero_uds
0,13385,almeria,"173438,78",11690,"48938,64",3955,"74666,68",9442,"49783,24",3840,"50,22",1765,"29942,22",16256
1,13386,cadiz,"447376,00",10047,"248128,66",5810,"45274,71",5355,"153949,17",2770,"23,46",831,"586,23",820
2,13424,a_coruna,"169406,51",20792,"82744,98",16930,"1425,96",3176,"84960,61",17795,"274,96",9608,"190,56",703
3,13389,huelva,"372209,91",10737,"85255,61",4730,"63551,47",7430,"223373,80",3473,"29,03",978,"11868,19",1500
4,13416,girona,"166100,88",5001,"91143,59",3898,"10699,07",1959,"64227,63",1410,"30,59",1208,"101,04",116

In [9]:
explotaciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   codigo_provincia       5 non-null      int64
 1   provincia              5 non-null      object
 2   sau_aire_libre         5 non-null      object
 3   sau_aire_libre_uds     5 non-null      int64
 4   tierra_arable          5 non-null      object
 5   tierra_arable_uds      5 non-null      int64
 6   cultivos_lenyosos      5 non-null      object
 7   cultivos_lenyosos_uds  5 non-null      int64
 8   pastos                 5 non-null      object
 9   pastos_uds             5 non-null      int64
 10  autoconsumo            5 non-null      object
 11  autoconsumo_uds        5 non-null      int64
 12  sau_invernadero        5 non-null      object
 13  sau_invernadero_uds    5 non-null      int64
dtypes: int64(7), object(7)
memory usage: 688.0+ bytes

In [10]:
def cambiar_comas_por_puntos(df):
    # Función para cambiar las comas por puntos en un valor
    def sustituir(val):
        if isinstance(val, str):
            return val.replace(',', '.')
        return val

    # Aplicar la función de sustitución a cada columna
    for columna in df.columns:
        df[columna] = df[columna].apply(sustituir)

    return df

In [11]:
explotaciones = cambiar_comas_por_puntos(explotaciones)

In [12]:
explotaciones.sau_aire_libre = explotaciones.sau_aire_libre.astype(float)
explotaciones.tierra_arable = explotaciones.tierra_arable.astype(float)
explotaciones.cultivos_lenyosos = explotaciones.cultivos_lenyosos.astype(float)
explotaciones.pastos = explotaciones.pastos.astype(float)
explotaciones.autoconsumo = explotaciones.autoconsumo.astype(float)
explotaciones.sau_invernadero = explotaciones.sau_invernadero.astype(float)

In [13]:
explotaciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   codigo_provincia       5 non-null      int64
 1   provincia              5 non-null      object
 2   sau_aire_libre         5 non-null      float64
 3   sau_aire_libre_uds     5 non-null      int64
 4   tierra_arable          5 non-null      float64
 5   tierra_arable_uds      5 non-null      int64
 6   cultivos_lenyosos      5 non-null      float64
 7   cultivos_lenyosos_uds  5 non-null      int64
 8   pastos                 5 non-null      float64
 9   pastos_uds             5 non-null      int64
 10  autoconsumo            5 non-null      float64
 11  autoconsumo_uds        5 non-null      int64
 12  sau_invernadero        5 non-null      float64
 13  sau_invernadero_uds    5 non-null      int64
dtypes: float64(6), int64(7), object(1)
memory usage: 688.0+ bytes

In [14]:
clima.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          240 non-null    int64
 1   fecha       240 non-null    object
 2   indicativo  240 non-null    object
 3   p_mes       236 non-null    float64
 4   p_max       236 non-null    object
 5   w_med       228 non-null    float64
 6   tm_mes      228 non-null    float64
 7   tm_max      228 non-null    float64
 8   tm_min      228 non-null    float64
 9   n_cub       94 non-null     float64
dtypes: float64(6), int64(1), object(3)
memory usage: 18.9+ KB

In [15]:
provincias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   codigo_provincia    5 non-null      int64
 1   comunidad_autonoma  5 non-null      object
 2   provincia           5 non-null      object
 3   indicativo          5 non-null      object
 4   superficie_km2      5 non-null      float64
 5   habitantes          5 non-null      int64
 6   densidad            5 non-null      float64
dtypes: float64(2), int64(2), object(3)
memory usage: 408.0+ bytes

DESPUES DE HACER LOS ULTIMOS RETOQUES. SUBIMOS A NUESTRA BASE DE DATOS CREADA EN SQL

In [16]:
str_conn = 'mysql+pymysql://root:XXXXXXX@localhost:3306/blockbuster'

cursor = create_engine(str_conn)

In [17]:
provincias.to_sql(name='provincias', 
            con=cursor,
            if_exists='append',
            index=False
           )

5

In [18]:
clima.to_sql(name='clima', 
            con=cursor,
            if_exists='append',
            index=False
           )

240

In [19]:
explotaciones.to_sql(name='explotaciones', 
            con=cursor,
            if_exists='append',
            index=False
           )

5

In [20]:
leyenda.to_sql(name='leyenda', 
            con=cursor,
            if_exists='append',
            index=False
           )

14